*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212
}
.background-imgs{
    width: 300px;
    position: absolute;
    z-index: -1;
}
.icons{
    font-size: 80px;
    position: absolute;
    color: #616161;
    z-index: -1;
    animation: move alternate-reverse infinite 5s ease;
    transition-duration: 10s;
}
@keyframes move {
    0%{
       transform: rotate(40deg);
    }
    100%{
       transform: rotate(-40deg);
    }
    
}
.first-page{
    position: relative;
    overflow: hidden;
}
.header-parent{
    z-index: 99;
}
